:root {
  --font-ral: 'Raleway', sans-serif;
  --color-gray: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --base-lg: 1.36;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}
/* .link{
  list-style: none;
} */
.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.link {
  text-decoration: none;
}

.section-title {
  font-family: var(--font-ral);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666;
  letter-spacing: 0.05em;
}

.uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.uptitle::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.btn {
  width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

/* -----------------HEADER---------------- */

/* -----------------HERO---------------- */

/* -----------------ABOUT---------------- */

/* -----------------PRICES---------------- */

/* -----------------BENEFITS---------------- */

/* -----------------BARBERS---------------- */

/* -----------------GALLERY---------------- */

/* -----------------CONTaCTS---------------- */

.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}
.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.contacts-address {
  font-style: inherit;
  margin-bottom: 70px;
}
.contacts-list {
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

.contacts-link-bold {
  font-weight: 700;
}

.contacts-schedule-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}
.contacts-schedule-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.563);
}

.modal {
  width: 500px;
  min-height: 550px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms linear;
}

.modal-close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(1.5);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
